<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"*ngIf="user?.professeur">{{user.professeur.name}}</a>
      </div>
      <ul class="nav navbar-nav" id="flex">
        <li class="active"><a href="/professeur">Home</a></li>
        <li><a href="/courprof">lister cours</a></li>
        <!-- <li><a href="#">Page 2</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ><span class="glyphicon glyphicon-user" (click)="logout()"></span>logout</a></li>
        <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      </ul>
    </div>
  </nav>

