<!-- liste-cours.component.html -->
<app-responsable></app-responsable>

<div class="container mx-auto h-screen max-w-4xl bg-white p-4 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black">
  <button class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded mt-4" (click)="ouvrirModale()">
    Ajouter une cours
  </button>
  <h1 class="text-white text-3xl font-semibold mb-4">Liste des Cours</h1>

  <!-- Ajoutez des boutons ou des menus déroulants pour permettre le filtrage -->
  <div class="mb-4">
    <button class="text-yellow-300" (click)="filtre = 'tous'; appliquerFiltre();">Tous</button>
    <button  (click)="filtre = 'en_cours'; appliquerFiltre();" class="mx-2 text-yellow-300">En cours</button>
    <button class="text-yellow-300" (click)="filtre = 'termines'; appliquerFiltre();">Terminés</button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div id="btnVoirEtudiants">
      </div>
      <ng-template appSimplePaginator [items]="coursFiltres" [pageSize]="pageSize" let-pageItems>
    <div *ngFor="let cour of coursFiltres" class="bg-white p-6 rounded shadow">
        <button class="btn btn-primary"  [routerLink]="['/etudiants', cour.id]" (click)="voirEtudiants(cour.id)">Voir les étudiants</button>

      <h2 class="text-black text-xl font-semibold mb-2">{{ cour.module.libelle }}</h2>
      <p class="text-black">{{ cour.professeurs_id.name }}</p>
      <p class="text-black">{{ cour.nbr_heure }}</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded mt-4" (click)="ouvrirModal(cour.id)">Ajouter une session</button>
      </div>
    </ng-template>
  </div>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->


</div>
<!-- Modal -->

<div id="myModal" class="modal">

  <div class="modal-contenair">

    <div class="p-4 w-full max-w-4xl bg-gray-100">
      <span class="close bg-black" (click)="fermerModal()">&times;</span>

        <div class="bg-white rounded-lg shadow-lg p-8">

            <form [formGroup]="sessionForm"  (submit)="planifierSession()">
                <div class="grid grid-cols-2 gap-4 mb-4">

                  <div class="mb-4">
                    <label for="cours" class="block text-sm font-medium text-gray-600 mb-2">Classes du cours</label>
                    <select id="cours" name="cours" class="w-full p-2 border border-gray-300 rounded" formControlName="classes_id">
                        <option value="">Sélectionnez une classe</option>
                        <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.libelle }}</option>
                    </select>
                    <div *ngIf="sessionForm.get('classes_id')?.hasError('required') && sessionForm.get('classes_id')?.touched">
                        <!-- <span class="error-message">Le champ Classe est obligatoire.</span> -->
                    </div>
                </div>

                    <div class="mb-4">
                        <label for="mode" class="block text-sm font-medium text-gray-600 mb-2">Mode</label>
                        <select id="mode" name="mode" class="w-full p-2 border border-gray-300 rounded" formControlName="mode">
                            <option value="en_ligne">En ligne</option>
                            <option value="en_presentiel">En présentiel</option>
                        </select>
                    </div>
                    <div *ngIf="sessionForm.get('mode')?.value === 'en_presentiel'">
                        <div class="mb-4">
                            <label for="salles_id" class="block text-sm font-medium text-gray-600 mb-2">Salle</label>
                            <select id="salles_id" name="salles_id" class="w-full p-2 border border-gray-300 rounded"
                                formControlName="salles_id">
                                <option value="">Sélectionnez une salle</option>
                                 <option *ngFor="let salle of salles" [value]="salle.id">{{ salle.nom }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="date" class="block text-sm font-medium text-gray-600 mb-2">Date</label>
                        <input type="date" id="date" name="date" class="w-full p-2 border border-gray-300 rounded" formControlName="date">
                        <div *ngIf="sessionForm.get('date')?.hasError('required') && sessionForm.get('date')?.touched">
                            <span class="error-message">Le champ Date est obligatoire.</span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="heure_debut" class="block text-sm font-medium text-gray-600 mb-2">Heure de début</label>
                        <input type="time" id="heure_debut" name="heure_debut" class="w-full p-2 border border-gray-300 rounded"
                            formControlName="heure_debut">
                            <div class="heure" *ngIf="sessionForm.get('heure_debut')?.hasError('invalidMinutes')">
                              Les minutes doivent être "00".
                            </div>

                    </div>
                    <div class="mb-4">
                        <label for="heure_fin" class="block text-sm font-medium text-gray-600 mb-2">Heure de fin</label>
                        <input type="time" id="heure_fin" name="heure_fin" class="w-full p-2 border border-gray-300 rounded"
                            formControlName="heure_fin">
                            <div class="heure" *ngIf="sessionForm.get('heure_fin')?.hasError('invalidMinutes')">
                              Les minutes doivent être "00".
                            </div>


                    </div>
                </div>

                <div class="flex justify-end">
                    <button type="submit"
                        class="bg-green-500 text-white px-6 py-2 rounded hover:bg-green-600 focus:outline-none focus:border-green-700 focus:ring focus:ring-green-200">
                        Soumettre
                    </button>
                </div>
            </form>
        </div>
        <!-- Votre formulaire d'ajout de session ici -->
      </div>
    </div>
</div>


