<!-- calendar.component.html -->
<div>
  <div>
    <select [(ngModel)]="view" (change)="filtreCalendar()">
      <option value="day">Jour</option>
      <option value="week">Semaine</option>
      <option value="month">Mois</option>
    </select>

  </div>

  <full-calendar [options]="calendarOptions" (eventClick)="handleEventClick($event)" class="w-9/12 h-1/2 overflow-auto mx-auto bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></full-calendar>
</div>

<!-- app-modal-session -->



