<app-professeur></app-professeur>

<select name="" id="">
  <option value=""></option>
  <option value=""></option>
  <option value=""></option>

</select>
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-semibold mb-4">Liste des Cours</h1>
  
    <!-- Ajoutez des boutons ou des menus déroulants pour permettre le filtrage -->
    <div class="mb-4">
      <!-- <button (click)="filtre = 'tous'; appliquerFiltre();">Tous</button>
      <button (click)="filtre = 'en_cours'; appliquerFiltre();" class="mx-2">En cours</button>
      <button (click)="filtre = 'termines'; appliquerFiltre();">Terminés</button>
    </div> -->
  
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div *ngFor="let cour of cours" class="bg-white p-6 rounded shadow">
        <h2 class="text-xl font-semibold mb-2">{{ cour.module }}</h2>
        <!-- <p class="text-black">{{ cour.professeurs }}</p> -->
        <p class="text-black">{{ cour.nbr_heure }}</p>
      </div>
    </div>
  </div>
  <mat-card>
    <mat-card-content class="bg-indigo-600 w-full text-center">Vous avez <span class="font-bold bg-white">{{this.heuresEffectuees}}h</span> de cour durant ce mois</mat-card-content>
  </mat-card>